<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Volume>100</Volume>
  <Language>ruRU</Language>
  <DuckLevel>50</DuckLevel>
  <MuteEnglishVoice>true</MuteEnglishVoice>
  <VerboseDebugLog>false</VerboseDebugLog>
  <CollectSpeakerStats>false</CollectSpeakerStats>
  <CollectUsageStats>false</CollectUsageStats>
</Settings>